* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    padding: 2px 0px;
    height: 52px;
    width: 100%;
    border: 3px solid black;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: all .5s ease;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    position: fixed;
}


.sidebar i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

::placeholder {
    color: inherit;
    margin-left: -30px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}


.sidebar ul li button {
    border: none;
    color: inherit;
    background-color: inherit;
    display: flex;
    align-items: center;
    font-size: 25px;
    white-space: nowrap;
    transition: all .4s ease;
    cursor: pointer;
    margin-top: -2px;
}

.a {
    color: #f5f5f5;
    padding: 3px 10px;
    color: inherit;
    background-color: inherit;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    margin-top: -2px;
}

.mode {
    margin-left: 36vw;
}

.mode-icon {
    margin-bottom: -7px;
}

#home {
    padding: 3px 70px;
}

#ic {
    padding: 3px 120px;
}

#Workspace {
    padding: 3px 70px;
    margin-top: -2px;
}

#icon {
    margin-left: -110px;
}

.sidebar ul li button:hover {
    color: #0EF6CC;
    background-color: #3A4F50;
}

.a:hover {
    color: #0EF6CC;
    background-color: #3A4F50;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#arrow {
    display: none;
}

.dropdown-content {
    background-color: inherit;
    display: none;
    position: absolute;
    min-width: 220px;
    min-height: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: 100%;
    right: 0;
    z-index: 1;
    margin-top: 23vh;
    margin-right: 9vw;
}

.dropdown-content-mode {
    display: none;
    position: absolute;
    min-width: 10px;
    text-align: left;
    font-size: 100%;
    right: 0;
    z-index: 1;
    margin-top: 18vh;
    margin-right: 2px;
}

.dropdown-content .links {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    display: block;
    border: 2px solid black;
}

.link {
    margin-top: 1vh;
}

.dropdown-content .links:hover {
    color: #0EF6CC;
    background-color: #3A4F50;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* -------------------------------------------------Bar---------------------------------------------------------- */

/* -------------------------------------------Dark/Light mode---------------------------------------------------- */
.light-mode {
    background-color: #fafafa;
    color: black;
}

.light-mode .dropdown-content {
    background-color: #fafafa;
    color: black;
}

.light-mode .sidebar {
    background-color: #fafafa;
    color: black;
}

.light-mode th {
    border: 2px solid #1B2223;
    background-color: #1B2223;
    color: #F4FEFD;
}

.light-mode td {
    border: 2px solid #1B2223;
}

.light-mode #imageContainer {
    border: 2px solid #1B2223;
}

.dark-mode #imageContainer {
    border: 2px solid #fafafa;
}

.dark-mode {
    background-color: #1B2223;
    color: #F4FEFD;
}

.dark-mode th {
    border: 2px solid #fafafa;
    background-color: #fafafa;
    color: black;
}

.dark-mode td {
    border: 2px solid #fafafa;
}

.dark-mode .sidebar {
    background-color: #1B2223;
    color: #F4FEFD;
}

.dark-mode .dropdown-content {
    background-color: #1B2223;
    color: #F4FEFD;
}
/* -------------------------------------------Dark/Light mode---------------------------------------------------- */

/* ----------------------------------------------------Button---------------------------------------------------- */
.icon {
    font-size: 200%;
}

#Weekly, #All, #Detail, #delete-data
,#delete, #Add {
    display: block;
    cursor: pointer;
    position: sticky;
    padding: 1%;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 1vw;
}

#Weekly {
    margin-top: 10vh;
    position: fixed;
    color: #0EF6CC;
    background-color: #3A4F50;
}

#All {
    width: 5vw;
    position: fixed;
    margin-top: 25vh;
}

#Detail {
    width: 5vw;
    position: fixed;
    margin-top: 39.9vh;
}

#delete, #delete-data {
    width: 5vw;
    position: fixed;
    margin-top: 39.9vh;
}

#Load, #Load1 {
    padding: 15px;
    background-color: aquamarine;
    color: #1B2223;
    font-size: large;
    border-radius: 5px;
    margin-left: 46vw;
    margin-top: 1vh;
    margin-bottom: 10vh;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#Submit {
    display: none;
    padding: 15px;
    background-color: aquamarine;
    color: #1B2223;
    font-size: large;
    border-radius: 5px;
    margin-left: 28vw;
    margin-top: 5vh;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#Add {
    width: 5vw;
    position: fixed;
    margin-top: 55vh;
}

#delete:hover,
#delete-data:hover {
    background-color: red;
    color: #fafafa;
}

#Load:hover, #Load1:hover, #Submit:hover {
    background-color: rgb(39, 176, 130);
    color: #fafafa;
}

#Upload:hover {
    background-color: #ccc;
}
/* -------------------------------------------------Button------------------------------------------------------- */

/* -------------------------------------------------Table------------------------------------------------------- */
table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-bottom: 2vh;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 8px;
    text-align: center;
    align-items: center;
}
/* -------------------------------------------------Table------------------------------------------------------- */

/* -----------------------------------------------Add new------------------------------------------------------- */
.box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
    overflow: hidden;
}

h2 {
    margin-left: 15vw;
    margin-bottom: 8vh;
}

#IDADD, #NameADD, #BirthADD, #PhoneADD {
    width: 20vw;
    height: 3vh;
    float: right;
}

#IDADD {
    border: 2px solid black;
    font-size: 80%;
    background-color: #ccc;
}

.Gender {
    margin-left: 3.5vw;
}

.box1, .box2 {
    flex-grow: 1;
    height: 70vh;
    width: 90vh;
}
/* -----------------------------------------------Add new------------------------------------------------------- */
